
 <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <%= image_tag "banner2.jpg" %>
                <%= image_tag "banner2.jpg" %>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>


      <div class="categories-shop">
        <div class="container">
            <div class="row">
               <% @jewellery.each do |jwell|%>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <%= image_tag jwell.store_image , width: '100%' , height: '100%',class: "img-fluid" %><br />
                        Name : <%= jwell.name %><br />
                        Color :<%= jwell.color %><br />
                        Size : <%= jwell.description %><br />
                        Price : <%= jwell.price %>
                        <%= button_to 'Add to Cart', line_items_path(:store_id => jwell.id) %> </td>
                    </div>
                </div>
                <% end %>
                
            </div>
        </div>
    </div>

   